
<a type="button" class="btn btn-default" id="ws-run"
	data-tooltip="Calculate stats (Shortcut: F4)">Run
	analysis</a>
<a type="button" class="btn btn-link pull-right" id="ws-help"
   href="about.html">Need help? Check out the About page.</a>
   

<div id="ws-overview" class="ws-analysis" val="Text summary"></div>
	
<div id="ws-structure" class="ws-analysis" val="Text structure"></div>
	
<div id="ws-freqwords" class="ws-analysis" val="Frequent words"></div>

<div id="ws-kmers" class="ws-analysis" val="Enriched k-mers"></div>

<div id="ws-patterns" class="ws-analysis" val="Patterns"></div>

