<head>   
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <script type='text/javascript' src='{{ site.path }}/_includes/d3-4.2.2/d3.min.js'></script>
    <script type='text/javascript' src='{{ site.path }}/_includes/sanitize-html-1.13.0/sanitize-html.min.js'></script>
    <script type='text/javascript' src='{{ site.path }}/_includes/underscore-1.8.3/underscore.min.js'></script>
    <script type='text/javascript' src='{{ site.path }}/_includes/filesaver/filesaver.min.js'></script>    
    <script type='text/javascript' src='{{ site.path }}/src/ws-web.js'></script>
    <script type='text/javascript' src='{{ site.path }}/src/ws-plot.js'></script>    
    <script type='text/javascript' src='{{ site.path }}/src/ws.js'></script>
    <link rel="stylesheet" href="{{ site.path }}/_includes/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.path }}/src/writingstats.css">        
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,700" rel="stylesheet">
</head>
