<!DOCTYPE html>
<html>
    {% include header.html %}
    <body id="body">
        {% include navbar.html %}

        <div class="container ws-main ws-about"> 
            <div class='row'>
                <div class='col-lg-2 col-md-2 col-xs-3'>                  
                </div>
                <div class='col-lg-6 col-md-8 col-xs-9'>
                    <h1>Writing stats</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-2 col-md-2 col-xs-3 '>
                    {% include about-menu.html %}
                </div>
                <div class='col-lg-6 col-md-8 col-xs-9'>
                    {{ content }}
                </div>
            </div>
            
        </div>  

        {% include footer.html %}    
    </body>
</html>
